/* .flex{
    display: flex;
    justify-content:space-evenly;
    flex-direction: row;
}
.flexItems{
    height: 200px;
    width: 200px;
    background-color: aquamarine;
    font-size: 50px;
    padding-top: 50px;
    text-align: center;
} */

/* .position{
    background-color: aqua;
    position: fixed;
    width: 100%;
}
.arrow{
    position: absolute;
    background-color: brown;
    top: 500px;
    left: 500px; 
}  */