/* form {
    background-color: #e77878;
}
#form{

}
.form{

} */

.heading{
    color: rgb(63, 63, 84);
    background-color: #fdffbf;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 900;
    /* font-style: ; */
    
}